extends layout

block content
  h1 Full Stack Development is a son of a biiiiiitccccch
  p.lead Fuck a boilerplate, customize the shit.
  hr
  .row
    .col-sm-6
      h2 Good Morning!
      p gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p 
        a.btn.btn-default(href='http://cloudscannabis.com', role='button') View details »
    .col-sm-6
      h2 Tribe of The R.B.C!
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='http://stakepool.com', role='button') View details »
    .col-sm-6
      h2 Happy Birthday to Daryl and belatedly Sammmmm
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='https://reddit.com', role='button') View details »
    .col-sm-6
      h2 I love The Princess and BB8 Cornchip! 
      p And the Nayla poops, and the broheim, and the drewbyscoppbydooby-dowop. The fam. The Tribe, R.B.C. K1IP-CHIP.
      p
        a.btn.btn-default(href='#', role='button') View details »